prune tests
prune dist

exclude .*
recursive-include eFISHent/data_tables *.dg *.dh *.dat
recursive-include eFISHent *.cfg
recursive-include conda *.yaml

include *.md
include Fold_osx
include LICENSE
include environment.yml
include requirements.txt