prune tests
prune dist

exclude .*
recursive-include eFISHent/data_tables *.dg *.dh *.dat
recursive-include eFISHent *.cfg
recursive-include conda *.yaml

include *.md
include eFISHent/Fold_osx
include eFISHent/Fold_linux
include LICENSE
include environment.yml
include requirements.txt